* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    font-family: sans-serif;
}

header{
    background-color:  rgb(161, 156, 156);
    width: 60%;
    height: 200px;
    margin:-20px;
}
header>div{
    display: flex;
    flex-direction: row;
}
hgroup{
    color: red;
    padding-left: 150px;
    padding-top:50px;  
}
figure{
    margin-top: 50px;
}
.content{
width: 70%;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 350px 1fr;
grid-column-gap: 10px;
padding-top: 100px;
}
h3{
    border-bottom: 1px solid rgb(207, 206, 206);
    padding-bottom: 6px;
}
h3::before{
    content: "â—  ";
    color: red;
}
h3+p{
    margin-top: 20px;
}
#contact>h3{
    visibility: hidden;
    border: none;
}
.skills-primary>div{
    background-color: rgb(161, 156, 156);
    margin-bottom: 2px;
    height:30px;
}
.skills{
    margin-top: 20px;
}
.skills-secondary>div{
    background-color: rgb(201, 200, 200);
    margin-bottom: 2px;
    height:30px;
}
.skills-primary::before{
    content: "Main";
}
.skills-secondary::before{
    content: "Other";
}
[data-skill="5"] span{
    display: inline-block;
    width: 50%;
    background-color:red;
    margin:2px 0 0 2px;
    padding-bottom: 7px;
}
[data-skill="3"] span{
    display: inline-block;
    width: 30%;
    background-color:red;
    margin:2px 0 0 2px;
    padding-bottom: 7px;
}
[data-skill="1"] span{
    display: inline-block;
    width: 10%;
    background-color:red;
    margin:2px 0 0 2px;
    padding-bottom: 7px;
}
.skills-secondary>[data-skill="5"] span{
    display: inline-block;
    width: 50%;
    background-color:rgb(247, 68, 68);
    margin:2px 0 0 2px;
    padding-bottom: 7px;
}
.skills-secondary>[data-skill="9"] span{
    display: inline-block;
    width: 90%;
    background-color:rgb(247, 68, 68);
    margin:2px 0 0 2px;
    padding-bottom: 7px;
}
.skills-secondary>[data-skill="7"] span{
    display: inline-block;
    width: 70%;
    background-color:rgb(247, 68, 68);
    margin:2px 0 0 2px;
    padding-bottom: 7px;
}
h4{
    padding-top: 20px;
}
.experience-details{
    color:grey;
    padding-left: 10px;
}
.experience-date-separator {
    color: red !important;
}
.experience-type{
    color: red;
    font-weight: bold;
}
.experience-location::before{
   content:"In";
}
.experience-institution::before{
    content:"@ ";
}
.experience-institution{
    color:red;
}
div+p{
    margin-top: 20px;
}
#hobbies{
    margin-top: 40px;
}
ul{
    padding:20px 0 20px 40px;
}
#contact{
    position: absolute;
    top: 0;
    right: 0;
    width:50%;
    margin:-20px;
    height: 200px;
    background-color: rgb(161, 156, 156);
}
.contacts{
    padding-top: 10px;
}
.contact{
    display: flex;
    flex-direction: row;
}
.contact-type{
    background-color: red;
    width: 20%;
    padding-bottom: 10px;
    color: white;
}
.contact-value{
    background-color: black;
    width:80%;
    padding-bottom: 10px;
}
a{
    color: red;
    text-decoration: none;
}
@media(max-width: 768px){
    header{
        background-color:  rgb(161, 156, 156);
        width: 768px;
        height: 300px;
        
    }
    header>div{
        display: flex;
        flex-direction: column;
    }
    hgroup{
        padding-left: 70px;
        padding-top:50px;  
    }
    figure{
        padding-left:70px;
        margin-bottom: 100px;
        margin-top: 10px;
    }
    .content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    }
    section{
    padding-bottom: 30px;
    }
    #contact{
    position: relative;
    width:100%;
    height: 200px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    }
    #contact>h3{
        visibility: visible;
        border-bottom: 1px solid rgb(207, 206, 206);
        padding-bottom: 6px;
    }
    .contact-type{
        background-color: red;
        width: 30%;
        padding-bottom: 10px;
        padding-left: 10px;
        color: white;
    }
    .contact-value{
        background-color: white;
        width:70%;
        padding-bottom: 10px;
        padding-left: 10px;
        color:black;
    }
    a{
        color: red;
        text-decoration: none;
    }
    #hobbies{
        margin-top: 0;
    }
}